*{
    padding: 0px;
    margin: 0px;
}


.principal{

    margin: auto;
    /*display: inline-block; /*PONER ABAJO LOS ELEMENTOS*/
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    display: inline-block;
    
}


ul, ol{
    list-style: none;
}

.nav li a{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.nav li a:hover{
    background-color: #434343;
}

.nav > li {
    float: left; /*ORDENADO EL MENU PRINCIPAL*/
}

.nav li ul {
    display: none;
    position: absolute; /*ABSOLUTA PARA MENU*/
    min-width: 140px;
}

.nav li:hover > ul{
    display: block; /*PARA QUE SE PUEDA DESPLEGAR*/
}

.nav li ul li{
     position: relative;  /*SUBMENOS PARA EL MENU*/
}

.nav li ul li ul{
    right: -140px;
    top:0px;
}
.logo{
  display:block;
margin:auto;
}
/*contenido*/

#contenedor {
    width: 98%;                                      /*Ancho*/
    height: auto;                                    /*Altura*/
    margin: 0px auto;                                /*Margen*/
    border: 2px solid rgb(175, 163, 163);          /*Bordes*/
    box-shadow: 0px 0px 10px rgb(104, 99, 99);     /*Efecto de sombra*/
    padding: 10px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  /*columnas*/
    grid-gap: 1em; /*especifica los canales entre las filas y las columnas de la cuadrícula.*/
  }
  
  .ubicacion {
    position: relative; 
  }
  
  .image {
    line-height: 0; /*altura de la casila*/
    overflow: hidden; /*oculta todos los contenidos que se salen de la caja*/
  }
  
  .image img {
    filter: blur(0px); /*desenfoque*/
    transition: filter 0.3s ease-in; 
    transform: scale(1.1);
  }
  
.ubicacion-titulo {
    font-size: 1.5em; /*dimension leltra*/
    font-weight: bold; /*grueso leltra*/
    text-decoration: none;  /*sin subrayado*/
    z-index: 1;  /*orden de elemento*/
    position: absolute;
    height: 100%; /*altura*/
    width: 100%;  /*ancho*/
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ubicacion:hover .ubicacion-titulo{
    opacity: 1;
  }
  
  .ubicacion:hover .image img {
    filter: blur(2px);
  }

.boton {
    display: block;
    cursor: pointer;
    font-family:sans-serif;
    position:relative;
    top: -170px;
    left: 1100px;    
    height: 47px;
    width: 130px;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    overflow: auto;
    transition: all 500ms ease;
    background-color: transparent;
}

  /*Opciones lateral*/
.opciones{
    margin-left:70%;
    max-width: 300px;
    width: 400px;
    background: linear-gradient(135deg, #8db0c7, #9e4756);
    padding: 20px;
}
.titulo2{
    height: 40px;
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: white;

}

.detalles .box input{
outline: none;
border-radius: 5px;
border: 1px solid #ccc;
font-size: 12px;
padding-left: 10px;
position: relative;
  top: -1px;
  left: 12%;
  width: 80%;
  height: 40px;
  margin: 0% 0% 0% 0%;
}

.select{
  outline: none;
border-radius: 5px;
border: 1px solid #ccc;
font-size: 12px;
padding-left: 10px;
position: relative;
  top: -1px;
  left: 12%;
  width: 83%;
  height: 40px;
  margin: 0% 0% 0% 0%;

}
.boton2{
  width: 100%;
  color: white;
  margin-bottom: 20px;
  padding: 13px;
  background: linear-gradient(135deg, #02131f, #460c16);
  margin: 0% 0 3%;
}

.caracteristicas2{
  vertical-align: text-top; 
}

.Caracteristicas{
  position: relative;
  top: -430px;
  left: 1%;
  width: 840px;
  height: 20px;
  margin: 0% 0% 0% 0%;
}

.info{
  font-family:'Times New Roman', Times, serif;;
  position: relative;
  top: -300px;
  left: 38%;
  width: 840px;
  height: 20px;
  margin: 0% 0% 0% 0%;

}

.info2{
  font-family:'Times New Roman', Times, serif;
  position: relative;
  top: -4px;
  left: 0%;
  width: 840px;
  height: 20px;
  margin: 0% 0% 0% 0%;

}
/* Menú de navegación*/
.menu{
  position: relative;
  top: -470px;
  left: 1%;
  width: 840px;
  height: 20px;
  margin: 0% 0% 0% 0%;
}

.menu a{

  color: #8f8585;
  text-decoration: none;
  font-size: 15px;
  font-family: sans-serif;   
}

.menu .op{
  color: black;
}


.unidades1{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  position: relative;
  top: -520px;
  left: 1%;
  width: 840px;
  height: 20px;
  font-size: 14px;
  color: #5f6d72;
  margin: 18px;
}
.area{
  font-family:'Times New Roman', Times, serif;
  position: relative;
  top: -20px;
  left: 1%;
  width: 65%;
  height: 20px;
  margin: 0% 0% 0% 0%;
}
.mapa{
  position: relative;
  left: 1%;
}

  /*PIE DE PAGINA*/
.piePagina{
  
  justify-content: center;
  align-items:flex-end;
  height: 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height: 185px;
  background: linear-gradient(135deg, #8db0c7, #9e4756);
  padding: 0  5%;

}
.piePagina a{
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color:black;
}

nav{
  display: flex;
  height: 38px;
 /* background-color: darkgreen;*/
  justify-content: space-between;
}