*{
    margin: 0;
    padding: 0;
}


/*TOTAL*/
body{
    width: 100%;
    height: 100%;
    margin: auto;
  /*  background-color: cyan;*/
}

header{
    display: flex;
    justify-content: center;
    /*
    width: 1400px;*/
    height: 250px;
   /* background-color: darkgoldenrod; */
}

nav{
    display: flex;
    height: 38px;
   /* background-color: darkgreen;*/
    justify-content: space-between;
}

main{
    display: flex;
    height: 800px;
   /* background-color: darkred;*/
    flex-wrap: wrap;
}
/*
footer{
    display: flex;
    height: 185px;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;

}*/

article#contenido1{
    width: 50%;
    height: 50%;
    float: left;
  /*  background-color: greenyellow;*/
}

article#contenido2{
    width: 50%;
    height: 50%;
    float: left;
    margin-top: 3px;
  /*  background-color: hotpink;*/
}

article#contenido3{
    width: 100%;
    height: 50%;
    float: left;
    display: flex;
    justify-content: center;
    margin: 8px;

  /*  background-color: grey;*/
}

article#contenido4{
    width: 50%;
    height: 50%;
    float: left;
    background-color: lightseagreen;
}


#subtitulo{
    display: flex;
    justify-content: center;
}

p{
    font-size: 18px;
    margin: 5px;
}

#botones{
    display: flex;
    justify-content: flex-end;
  
}

button{
    margin-left: 20px;
}

#bot{
    list-style: none;
    margin-left: 20px;
  
}

  /*PIE DE PAGINA*/
  .piePagina{
  
    justify-content: center;
    align-items:flex-end;
    height: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 185px;
    background: linear-gradient(135deg, #8db0c7, #9e4756);
    padding: 0  5%;
  
  }
  .piePagina a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color:black;
  }

/*MENU DE OPCIONES*/
ul, ol{
    list-style: none;
}

.nav li a{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.nav li a:hover{
    background-color: #434343;
}

.nav > li {
    float: left; /*ORDENADO EL MENU PRINCIPAL*/
}

.nav li ul {
    display: none;
    position: absolute; /*ABSOLUTA PARA MENU*/
    min-width: 140px;
}

.nav li:hover > ul{
    display: block; /*PARA QUE SE PUEDA DESPLEGAR*/
}

.nav li ul li{
     position: relative;  /*SUBMENOS PARA EL MENU*/
}

.nav li ul li ul{
    right: -140px;
    top:0px;
}

#listaRe{
    list-style: circle;
    margin: 15px;
}
